@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
    scroll-behavior: smooth;
}

body{
    background-color: #eee;
}


/* Navbar Section Start */

nav {
    background: #242526;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 75px;
}

nav .wrapper {
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a img{
    height: 120px;
    margin-top: -30px;
    width: 140px;
    margin-left: -20px;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;

}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;


}

.nav-links li a:hover {
    background: #3A3B3C;
}

.nav-links .men {
    background: #242526;
    width: 170px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}



.nav-links li:hover .men,
.nav-links li:hover .mega-box {
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.men li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    top: 85px;
    width: 100%;
    left: 0;
    padding: 0 30px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content .row {
    width: calc(50% - -100%);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.content .row:nth-child(1),
.content .row:nth-child(2) {
    border-left: 0px;
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover {
    color: #f2f2f2;
}

.nav-links .mobile-item {
    display: none;
}

.hidden {
    display: none;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.cancel-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

.icons li{
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        background: #242526;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    .nav-links::-webkit-scrollbar {
        width: 0px;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .men {
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    #showDrop:checked~ .men,
    #showsaad:checked~ .mega-box{
        max-height: 100%;
    }
    .nav-links .men li {
        margin: 0;
    }

    .nav-links .men li a {
        font-size: 18px;
        border-radius: 5px;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        font-size: 20px;
        color: #f2f2f2;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: #3A3B3C;
    }

    .mega-box {
        position: static;
        top: 65px;
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        background: #242526;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }

    .wrapper input {
        display: none;
    }
}

.icons a {
    margin: 0 6px;
    color: white;
    padding: 6px 10px;
}

.icons a:hover {
    background: #3A3B3C;
}


/* Navbar Section End */

/* hero section start */

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;

    z-index: -1;
}

.titlebox {
    padding:20px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    flex-direction: column;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(78, 78, 78);
    border-radius: 20px;
    animation: boxvisible 1.5s ease-in-out forwards;
}

@keyframes boxvisible {

    0% {
        opacity: 0;
        box-shadow: none;
        transform: translate(5px, 5px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
        box-shadow: 5px 5px 10px rgb(78, 78, 78);
    }

}

/* For Mobile Size */

@media screen and (max-width:850px) {
    .titlebox h1{
        font-size: 30px!important;
    }
}
/* For Mobile Size */
@media screen and (max-width:650px) {
    .titlebox h1{
        font-size: 30px!important;
    }
}

.titlebox p {
    width: 70%;
    overflow: hidden;
    color: #fff;
    text-align: center!important;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 65px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}


.roow h1 {
    color: white;
    font-size: 60px;

}

.roow h5 {
    color: white;
    font-size: 18px;
}

.roow h6 {
    color: white;
    font-size: 15px;

}

.roow a {
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}

.btns {
    color: white;
    border: 2px solid white;
}

.btns:hover {
    background-color: white;

    color: black;
    text-align: center;

}

/* hero section End */

/* Services Section Strat */


.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    text-shadow: 0px 1px 1px black;
}
.card{
    background: #242526;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    
}
.services{
    background: #eee;
    margin-top: 100px;
}
.services .card{
    box-shadow: 10px 10px 10px gray;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 50px;
    text-align: center;
    color: #f2f2f2;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}
.services .card .card-body{
    text-align: center;
}

.card-body{
    color: #f2f2f2;
    
}


/* Services Section End */

/* Banner Section Start */

.banner img{
    height: 120vh;
    object-fit: fill;
    object-position: center;
    width: 100%;
}




.banner{
    overflow: hidden;
}

/* Banner Section End */

/* watch repair section */
.repair-card{
    background-color: #242526;
}
.card-body img{
    height: 400px;
    /* width: 350px; */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.watch-repair-2 img{
    width:700px;
}
.watch-repair-3 img{
    width:700px;
}
.watch-repair-4 img{
    width:700px;
}
.watch-repair-1 img{
    width:700px;
}
.watch-repair-5 img{
    width:700px;
}
.watch-repair-1,.watch-repair-2,.watch-repair-3,.watch-repair-4,.watch-repair-5{
    border-radius: 10px;
    cursor: pointer;
}

/* watch repair section */

/* about section start */
.man1{
    margin-top: 50px;
    }
    .container-fluidss{
        overflow: hidden;
    }
.man2{
    background-image: url(../images/about4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}
.man3{
    background-image: url(../images/about3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}

h1{
    color: #242526;
}

.about-alberto{
    color: #345AF8;
}

.man ul li{
    
    font-size: larger;
}
.man p{
    /* font-size: larger; */
    font-size: 1em;text-align: justify;
    padding: 30px;

}

/* .about-list{
    list-style: none;
} */

/* .about-list li{
    padding:5px 10px;
    background-color: #242526;
    color: #fff!important;
} */

/* span{
    font-size: xx-large;
    text-transform: uppercase;
} */

/* about section end */

/* card section start */
.parent{
    position: relative;
}

.card-body p{
    font-size: larger;
    margin-top: 10px;
}

.bt-1{
    position: absolute;
    width: 100%;
    bottom: 30%;
    display: flex;
    justify-content: center;
}

.store{
    overflow: hidden;
}

.bt-2{
    background-color: #242526;
    color: #fff;
    font-size: 20px;
    width: 80%;
    border-radius: 40px;
    transition: all 0.3s ease;
    opacity: 0;
    border: none;
    padding: 5px 0;
}

.parent:hover .bt-2{
    opacity: 1;
}

.store{
    margin-top: 100px;
}

@media screen and (max-width:1350px){
    .bt-1{
        bottom: 25%;
        padding: 2px 0;
    }
}
    


/* Card Media for Mobile screen */

@media screen and (max-width:1168px){
    .bt-1{
    bottom: 30%;
    padding: 2px 0;
    }

}
@media screen and (max-width:1060px){
    .bt-1{
    bottom: 35%;
    padding: 2px 0;
    }

}

@media screen and (max-width:990px){
    .bt-1{
    bottom: 32%;
    padding: 2px 0;
    }
}

/* Card Media for Mobile screen */

/* card section end */



/* contact bar start */

.container{
    width: 1025px!important;
}
p{
    font-size: 12px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.contact-icon p{
    font-size: 15px;
}

.form-control{
    background: none;
    height: 36px;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none!important;
    border: 1px solid rgba(0,0,0,0.1);
}
.contactform .form-control{
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
}
.form-control:focus, .form-control:active{
    border-color: #3A3B3C!important;
    background: none;
}

.contact::-webkit-inner-spin-button{
    display: none;
}
.btn-dark{
    color: white;
    width: 100px;
    border-radius: 0!important;
}
.btn-dark:hover{
    background-color: #3A3B3C;
}
.bi{
    font-size: 30px;
}
@media only screen and (max-width:600px){
    .container{
        width: 100%!important;
        padding-bottom: 207px!important;
    }
}
/* contact bar end */

/* gallery section start */
.text h1{
    text-align: center;
    font-weight: 400;
    text-shadow: 0px 1px 1px black;
}

.text{
    color: #242526;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 15px; */
}

.container-fluids{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;   
    margin-top: -30px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
}

/* gallery section part 1 start */
body.lb-disable-scrolling {
    overflow: hidden;
  }
  
  .lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
  }
  
  .lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
  }
  
  .lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
  
    /* Image border */
    border: 4px solid white;
  }
  
  .lightbox a img {
    border: none;
  }
  
  .lb-outerContainer {
    position: relative;
    zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
  
    /* Background color behind image.
       This is visible during transitions. */
    background-color: white;
  }
  
  .lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
  }
  
  .lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat;
  }
  
  .lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  
  .lb-container > .nav {
    left: 0;
  }
  
  .lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
  }
  
  .lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
  }
  
  .lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lb-data {
    padding: 0 4px;
    color: #ccc;
  }
  
  .lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
  }
  
  .lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
  }
  
  .lb-data .lb-caption a {
    color: #4ae;
  }
  
  .lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
  }
  
  .lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  .lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
/* gallery section part 1 end */

/* gallery section end */

/* Testimonials Section Start  */

 a{
    text-decoration: none;
}

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #242526;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    color: #ffffff;
    filter: invert();
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong{
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span{
    color: #fff;
    font-size: 0.8rem;
}

.reviews{
    color: #f9d71c;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p{
    font-size: 0.9rem;
    color: #fff;
}

.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease-in-out 0.3s;
}

@media(max-width:1060px){
    .testimonial-box{
        width: 45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width: 100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #252525;
    background-color: #ffffff;
}

/* Testimonials Section End  */

/* Footer Section Start */

.footer{
    background: #111111;
    padding-top: 70px;
    margin-top: 30px;
}

.footer-about{
    margin-bottom: 30px;
}

.footer-about .footer-logo{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}


.footer-about p{
    color: #b7b7b7;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

.footer-widget{
    margin-bottom: 30px;
}

.footer-widget h6{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-widget ul{
    padding-left: 0;
}

.footer-widget ul li{
    line-height: 36px;
    list-style: none;
}

.footer-widget ul li a{
    color: #b7b7b7;
    font-size: 15px;
}

.footer-widget ul li a:hover,
.footer-widget ul li a:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

.footer-widget ul li a:hover{
    color: #345AF8;
} 

.footer-widget .footer-newslatter p{
    color: #b7b7b7;
}

.footer-widget .footer-newslatter form{
    position: relative;
}



.footer-widget .footer-newslatter form input{
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff;
}

.footer-widget .footer-newslatter form input:focus{
    outline: none;
}

.footer-widget .footer-newslatter form input::placeholder{
    color: #b7b7b7;
}

.footer-widget .footer-newslatter form button{
    color: #b7b7b7;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}

.footer-copyright-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}

.footer-copyright-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}

.footer-copyright-text p i{
    color: #345AF8;
}

.footer-copyright-text p a{
    color: #345AF8;
}

/* Footer Section End */

